{% extends "post-single.njk" %}

{% block content %}
	<h1>Article 1 Title</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam eius, exercitationem, iste quibusdam asperiores necessitatibus laboriosam tempore minus cum nam autem architecto ipsa sequi. Eligendi, rerum. Culpa reiciendis sequi at minus odit, earum iusto. Debitis distinctio veritatis labore qui fugiat placeat vel mollitia illo quidem deleniti, velit blanditiis quis!</p>
	<p>Corrupti harum fugit assumenda a dolore, ipsam quod molestias reprehenderit asperiores quisquam consequuntur dolores deserunt sint sit, quidem quam? Nihil, laboriosam? Repellat repellendus temporibus pariatur provident accusantium laborum ducimus obcaecati. Tenetur laboriosam accusamus nihil exercitationem suscipit veniam, qui reiciendis magnam sapiente voluptatem nisi excepturi incidunt odit error soluta quas praesentium.</p>
	<p>Quaerat culpa eaque minus debitis praesentium natus deserunt, delectus voluptate sunt quia in nesciunt rerum voluptatem possimus vero at molestias est laborum illum fuga ipsa. Incidunt molestiae, minima quas minus fugiat ipsam magnam consequuntur maxime unde vero quis itaque. Ratione quis aspernatur cumque nemo pariatur alias quia totam accusantium voluptatum.</p>
	<p>Perferendis enim minus dolore, molestiae itaque officiis quo autem. Odit a mollitia maxime quae earum quidem, voluptatem hic error expedita, minus unde magnam rerum sed sint quo aliquam officia saepe autem placeat eligendi repudiandae. Quisquam pariatur, nam eligendi hic sit beatae. Doloribus veniam quis dolorum vero rem ratione ut ea.</p>
{% endblock %}