{% set title = "My First Blog" %}
{% include "partials/_header.njk" %}

  <!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}

{% include "partials/_footer.njk" %}
