// List styles
// -------------------------------------------------------

// Mixins for list style types
@mixin unordered {
  list-style-position: outside;
  list-style-type: disc;
}

@mixin unordered-inside {
  list-style-position: inside;
  list-style-type: disc;
}

@mixin ordered {
  list-style-position: outside;
  list-style-type: decimal;
}

@mixin ordered-inside {
  list-style-position: inside;
  list-style-type: decimal;
}

@mixin nobullet {
  list-style-type: none;
}

// Advanced typography settings
// -------------------------------------------------------

// Get advanced with type if needed for ligatures etc...

@mixin advancedtype {
  //font-variant-ligatures: contextual;               // Set the default for ligatures
  //-moz-font-feature-settings: "liga=1,dlig=1";      // Ligature settings for mozilla
  font-kerning: normal; // Set the default for kerning
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; // Improve (or in some cases royally screw with) safari's legibility somewhat
  -moz-osx-font-smoothing: grayscale;
  //font-synthesis: none;               // Don't allow the font to create sythetic bold/italic
  text-rendering: optimizeLegibility; // Improve kerning pairs. Webkit gets funny with this sometimes
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
}

// Transitions
// -------------------------------------------------------

// Set-up custom transitions

@mixin fade_transition($property) {
  @include transition-property($property);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in-out);
}
