$cs-white: #ffffff;
$cs-black: #000000;

$cs-gray-ultra-light: #eeeeee;
$cs-gray-light: #d5d6d2;
$cs-gray-medium: #a7a8aa;
$cs-gray-dark: #4d4f53;
$cs-gray-text: #8a8a8a;
$cs-gray-footer: #313131;

$cs-facebook: #3a5c97;
$cs-twitter: #0aafec;
$cs-linkedin: #037eb5;
$cs-youtube: #bb0009;
