{% macro active(activePage="home") %}
<nav>
  <ul>
    {% set items = ['home', 'about', 'contact'] %}
    {% for item in items %}
      <li {%if activePage == item %} class="active" {% endif %}>
        <a href="#">{{ item }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}